body{
    background: url(/resources/background.jpg);
    /*background: rgba(90, 8, 90, 0.5);*/
}
h1{
    width: 100%;
    text-align: center;
    color: brown;
    font-size: 40px;
}

p{
    color: black;
    font-size: 25px;
}

form{
    text-align: justify;
    margin: auto;
    /* margin-left: 42.5%; */
    /* padding-left: 50px; */
    padding: 30px;
    background-color: rgba(46, 6, 54, 0.4);
    height: 800px;
    width: 400px;
    color: rgba(0, 0, 0, 0.8);
}
label{
    color: black;
    font-size: 30px;
}
select{
    padding-bottom: 10px;
}
button{
    margin-left: 20%;
    width: 100px;
    height: 50px;
    text-decoration-color: brown;
    border: 2px solid black;
}